@model OnlineRechargeApplication.Models.PlanModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PlanModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="planId" />
            <div class="form-group">
                <label asp-for="planName" class="control-label"></label>
                <input asp-for="planName" class="form-control" />
                <span asp-validation-for="planName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="planPrice" class="control-label"></label>
                <input asp-for="planPrice" class="form-control" />
                <span asp-validation-for="planPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="planValidity" class="control-label"></label>
                <input asp-for="planValidity" class="form-control" />
                <span asp-validation-for="planValidity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
